/* Movie Grid Layout */
.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px 120px;
}

/* Movie Card */
.movie-card {
  width: 100%;
  max-width: 240px;
  color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  padding: 8px 8px 16px 8px;
  background: #092C39;
}

.movie-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.15);
}

/* Movie Image */
.movie-card img {
  width: 100%;
  height: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

/* Movie Content */
.movie-card-content {
  padding: 12px;
}

.movie-card-content h3 {
  font-size: 16px;
  margin: 0 0 6px;
}

.movie-card-content p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.movie-info{
  padding: 16px;
  text-align: left;
  font-style: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
}
.movie-info h3{
 white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

.updateBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.infoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empty-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20vh);
    color: white;
    font-style: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    gap: 40px;
}

.api-response {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: calc(100vh - 20vh);
}
.api-response p{
font-style: Montserrat;
font-weight: 600;
font-style: SemiBold;
font-size: 38px;
line-height: 56px;
letter-spacing: 0%;
text-align: center;

}
.empty-movie button{
 width: 202;
height: 56;
top: 420px;
left: 619px;
opacity: 1;
border-radius: 10px;
border: none;
padding-top: 16px;
padding-right: 28px;
padding-bottom: 16px;
padding-left: 28px;
gap: 5px;
background-color: #2BD17E;
color: #ffffff;
font-style: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;


}